@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid black;
    width: 100%;
    font-family: 'Russo One', sans-serif;
    
    
}

.tit{
    font-family: 'Russo One', sans-serif;
    text-decoration: none;
}

h1{
    margin: 1rem;
    color: red;
}

li{
    display: inline-block;
    margin: 1rem;
    cursor: pointer;
    list-style: none;
}

li:hover{
    text-decoration: underline;
}


.navli {
    text-decoration: none;
    color: red;
}

